@import './antd.less';
@import './grid.less';

.centred {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-item-checkbox {
  display: inline-flex;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 10%;
  right: 6%;
  box-shadow: 2px 2px 3px #999;
  z-index: 1;
}
