@import './grid.less';

.centred {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-item-checkbox {
  display: inline-flex;

  .ant-col.ant-form-item-control-wrapper {
    order: 1;
    margin-right: 10px;
  }

  .ant-col.ant-form-item-label {
    order: 2;
  }
}
